
mvdXMLCheckerCore/example/*
mvdXMLCheckerCore/IFC2X3TC1.exp
mvdXMLCheckerOpenAPI/target/*
mvdXMLOnlineChecker/target/*
mvdXMLCheckerCore1underscore1/target/*
mvdXMLCheckerCore1dot1/example/*
mvdXMLCheckerCore1underscore2/target/*
mvdXMLCheckerCore1dot2/example/*
mvdXMLCheckerCore1underscore1/example/*
mvdXMLCheckerCore1dot1/target/*
*.class
mvdXMLCheckerCommon/target/*
*.bcfzip
mvdXMLCommandLineChecker/target/*
mvdXMLOnlineChecker/.settings/org.eclipse.wst.common.component
mvdXMLOnlineChecker/.settings/org.eclipse.wst.common.component
